<section id="compilado">
  <img src="/images/BooksAnimation.gif" alt="" id="compilado_livros">

  <div id="compilado_content">
    <h2 class="section-title">Compilado</h2>
    <h3 class="section-subtitle">Leituras do ano</h3>

    <div class="feedbacks">
      <div class="feedback">
        <div class="estatistica-icone">
          <i class="fa-solid fa-book"></i>
        </div>
        <div class="feedback-content">
          <h2 class="title">
            <span class="texto-comum">Li</span>
            <span class="destaque">64 </span>
            <span class="texto-comum">livros em 2024.</span>
          </h2>
        </div>
      </div>

      <div class="feedback">
        <div class="estatistica-icone">
          <i class="fa-solid fa-book-open"></i>
        </div>
        <div class="feedback-content">
          <h2 class="title">
            <span class="texto-comum">Total de</span>
            <span class="destaque">28.300</span>
            <span class="texto-comum">de páginas no ano</span>
          </h2>
        </div>
      </div>

      <div class="feedback">
        <div class="estatistica-icone">
          <i class="fa-solid fa-book-open-reader"></i>
        </div>
        <div class="feedback-content">
          <h2 class="title">
            <span class="texto-comum">Li</span>
            <span class="destaque">77,5 </span>
            <span class="texto-comum">páginas por dia</span>
          </h2>
        </div>
      </div>
    </div>

    <div id="btn_completo">
      <a href="https://www.skoob.com.br/leituras/retrospectiva/2024/maysantor" class="btn-default">
        Veja a avaliação completa de 2024!
      </a>
    </div>
  </div> 
</section>
