@use '../../../../public/styles/variables.scss' as *;

/* Header fixo e com fundo */
header {
  width: 100%;
  padding: 28px 8%;
  position: sticky;
  top: 0;
  background-color: $color-primary-1;
  z-index: 3;
}

#navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

#nav_logo {
  width: 50px;
  height: auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

#nav_text {
  font-size: 30px;
  color: $color-primary-6;
}

/* Menu principal */
#nav_list {
  display: flex;
  list-style-type: none;
  gap: 48px;
  font-size: 18px;
}

.nav-item a,
.dropdown .dropbtn {
  text-decoration: none;
  color: #1d1d1dad;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
}

/* Link ativo */
.nav-item.active a {
  color: $color-neutral-9;
  border-bottom: 3px solid $color-primary-4;
}

/* Hover no item de menu */
.nav-item:hover a,
.dropbtn:hover {
  color: $color-neutral-9;
  border-bottom: 3px solid $color-primary-4;
  opacity: 0.6;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  list-style: none;
  padding: 8px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  border-radius: 4px;
  min-width: 150px;
  z-index: 10;
  background-color: $color-primary-1;
}

.dropdown-content li a {
  color: $color-neutral-9;
  padding: 8px 16px;
  display: block;
  text-decoration: none;
}

/* Hover submenu */
.dropdown-content li a:hover {
  background-color: $color-primary-3;
  color: $color-primary-1;
}

/* Mostra o submenu ao passar o mouse */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover > .dropbtn {
  color: $color-neutral-9;
  border-bottom: 3px solid $color-primary-4;
}

/* Botão de menu mobile */
#mobile_btn {
  display: none;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Menu mobile (inicialmente oculto) */
#mobile_menu {
  display: none;
}

/* Responsivo */
@media screen and (max-width: 1024px) {
  #nav_list,
  #navbar .btn-default {
    display: none;
  }

  #mobile_btn {
    display: block;
  }

  #mobile_menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #mobile_nav_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0;
  }

  #mobile_nav_list .nav-item {
    list-style: none;
    text-align: center;
  }

  /* Estilo do dropdown mobile (se quiser mostrar ao tocar) */
  .dropdown-content {
    position: static;
    box-shadow: none;
    border-radius: 0;
  }
}
