<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./header.scss">


<header>
    <nav id="navbar">
        <div class="logo">
            <img src="/images/book-logo.png" alt="" id="nav_logo">
            <span id="nav_text">livros</span>
        </div>
        <ul id="nav_list">
            <li class="nav-item active">
                <a href="#home">Início</a>
            </li>
            <li class="nav-item">
                <a href="#menu">Preferidos</a>
            </li>
            <li class="nav-item">
                <a href="#testimonials">Estatística</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Ano de Leitura</a>
                <ul class="dropdown-content">
                    <li><a href="">Todos</a></li>
                    <li><a href="">2025</a></li>
                    <li><a href="">2024</a></li>
                </ul>
            </li>
        </ul>


        <button id="mobile_btn">
            <i class="fa-solid fa-bars"></i>
        </button>

    </nav>

    <div id="mobile_menu">
        <ul id="mobile_nav_list">
            <li class="nav-item">
                <a href="#home">Início</a>
            </li>
            <li class="nav-item">
                <a href="#menu">Preferidos</a>
            </li>
            <li class="nav-item">
                <a href="#testimonials">Estatística</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Ano de Leitura</a>
                <ul class="dropdown-content">
                    <li><a href="">Todos</a></li>
                    <li><a href="">2025</a></li>
                    <li><a href="">2024</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>