        <section id="menu">
            <h2 class="section-title">Preferidos</h2>
            <h3 class="section-subtitle">Melhores leituras do ano </h3>

            <div id="preferidos">
                <div class="livro">
                    <div class="livro-heart">
                        <i class="fa-solid fa-heart"></i>
                    </div>

                    <img src="/images/Flores para Algernon.jpg" class="book-image" alt="">
                    <h3 class="livro-title">
                        Flores para Algernon
                    </h3>

                    <span class="livro-description">
                        Uma história sobre empatia, respeito e paciência, mas também sobre o oposto. Repensei meu passado, meu presente e meu futuro. 
                    </span>

                    <div class="livro-rate">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <span>(288 páginas)</span>
                    </div>

                    <div class="reading-date">
                        <h4>
                            13/12/2023 - 14/12/2023
                        </h4>

                    </div>

                </div>

            

                <div class="livro">
                    <div class="livro-heart">
                        <i class="fa-solid fa-heart"></i>
                    </div>

                    <img src="/images/LessonsInChemistry.jpg" class="book-image" alt="">
                    <h3 class="livro-title">
                        Lessons in Chemistry
                    </h3>

                    <span class="livro-description">
                        Uma história de inspiração de crescimento pessoal e profissional. Ver a personagem navegar por diferentes momentos da vida foi uma experiência incrível.
                    </span>

                    <div class="livro-rate">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <span>(400 páginas)</span>
                    </div>

                    <div class="reading-date">
                        <h4>
                            09/04/2024 - 11/04/2024
                        </h4>
                    </div>

                </div>

                <div class="livro">
                    <div class="livro-heart">
                        <i class="fa-solid fa-heart"></i>
                    </div>

                    <img src="/images/Mockingjay.jpg" class="book-image" alt="">
                    <h3 class="livro-title">
                        Mockingjay
                    </h3>

                    <span class="livro-description">
                        Final digno para a trilogia que te faz refletir sobre o uso de crianças e adolescentes como estratégia de controle da sociedade.
                    </span>

                    <div class="livro-rate">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <span>(390 páginas)</span>
                    </div>

                    <div class="reading-date">
                        <h4>
                            20/05/2024 - 27/05/2024
                        </h4>
                    </div>

                </div>

                <div class="livro">
                    <div class="livro-heart">
                        <i class="fa-solid fa-heart"></i>
                    </div>

                    <img src="/images/A Good Girl's Guide To Murder.jpg" class="book-image" alt="">
                    <h3 class="livro-title">
                        A Good Girl's Guide To Murder
                    </h3>

                    <span class="livro-description">
                        Pip é a mini investigadora da vez que vai te explicar um assassinato que é cheio de reviravoltas.
                    </span>

                    <div class="livro-rate">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <span>(433 páginas)</span>
                    </div>

                    <div class="reading-date">
                        <h4>
                            07/06/2024 - 13/06/2024
                        </h4>
                    </div>

                </div>

            </div>
        </section>