@use '../../../../public/styles/variables.scss' as *;

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.section-subtitle{
    text-align: center;
    color: $color-neutral-9;
}

#preferidos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 24px;
  box-sizing: border-box;
}

.livro-wrapper {
  flex: 0 1 23%;         // ou calc(25% - 24px) para 4 por linha com gap
  min-width: 250px;
  box-sizing: border-box;
}

@media screen and (max-width: 1170px) {
  .livro-wrapper {
    flex: 0 1 calc(50% - 24px);
    min-width: 250px;
  }
}

@media screen and (max-width: 600px) {
  .livro-wrapper {
    flex: 0 1 100%;
  }
}