 <footer>

        <div id="footer_items">
            <span id="copyright">
                &copy; 2024 Mayara Cortes
            </span>

            <div class="social_media_buttons">
                <a href="https://www.skoob.com.br/usuario/9354703-mayaracortes" id="link_button">
                    <img src="/images/icons8-book.gif" alt="Skoob" id="skoob_icon">

                    Skoob
                </a>
                <a href="https://github.com/MayaSantor" id="link_button">
                    <i class="fa-brands fa-github"></i>
                    GitHub
                </a>
            </div>
        </div>
    </footer>