@use 'variables.scss' as *;

.btn-default {
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primary-5;
    color: $color-neutral-0;
    border-radius: 12px;
    padding: 15px 15px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
    
}

.btn-default:hover {
    text-decoration: none;
    background-color: $color-primary-4;
}

#cta_button {
    display: flex;
    gap: 24px;
    padding: 10px;
    justify-content: flex-start;
    align-items: flex-start;
}

#cta_button a {
    text-decoration: none;
    color: $color-neutral-9;
}

#cta_button .btn-default {
  color: $color-neutral-0;
}

#link_button {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: $color-neutral-0;
    padding: 10px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#link_button button {
    box-shadow: none;
}


@media screen and (max-width: 450px) {
    #link_button button {
        display: none;
    }
} 