$color-primary-1: #fae9eb;
$color-primary-2: #f5d6db;
$color-primary-3: #e28a9a;
$color-primary-4: #d76c82; /* cor base no tailwind css color generator */
$color-primary-5: #be4060;
$color-primary-6: #9f3150;
$color-neutral-0: #fcf4f4;
$color-neutral-9: #3f1221;