@use '../public/styles/variables' as *;
@use '../public/styles/shared' as shared;

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to right, $color-primary-3, $color-primary-2);
}

section {
    padding: 28px 8%;
}



.social_media_buttons {
    display: flex;
    gap: 18px;
    padding-top: 10px;
}

.social_media_buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 105px;
    height: 40px;
    background-color: $color-neutral-0;
    font-size: 1.15rem;
    border-radius: 10px;
    text-decoration: none;
    color: $color-neutral-9;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.social_media_buttons a:hover {
   box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);   
}

.section-title {
    color: $color-primary-6;
    font-size: 1.563rem;
}

.section-subtitle {
    font-size: 2.1875rem;
}

#link-estatistica {
    border: none;
    text-decoration: none;
    text-decoration-line: none;
}

