<section id="home">
    <div class="shape"></div>
    <div id="cta">
        <h1 class="title">
            Da estante à sua próxima
            <span>aventura</span>
        </h1>
        <p class="description"> Fique à vontade para explorar minhas experiências literárias e quem sabe
            descobrir seu próximo livro!
        </p>

        <div id="cta_button">
            <a href="#preferidos" class="btn-default">
                Leituras
            </a>
            <a href="https://www.skoob.com.br/usuario/9354703-mayaracortes" id="link_button">
                <img src="/images/icons8-book.gif" alt="Skoob" id="link_icon">
                Skoob
            </a>
            <a href="https://github.com/MayaSantor" id="link_button">
                <img src="/images/github.svg" alt="GitHub" id="link_icon">
                GitHub
            </a>
        </div>


    </div>

    <div id="banner">
        <img src="/images/open-doodles-reading-side.gif" alt="">
    </div>

</section>